@tailwind base;
@tailwind components;
@tailwind utilities;


.text-stroke {
    -webkit-text-stroke-width: 1px;
    text-stroke-width: 1px;
    -webkit-text-stroke-color: theme('colors.black');
    text-stroke-color: theme('colors.black');
    color: white;
}

.marquee .marquee_inner {
    animation: marquee 60s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-80%);
    }
}

:not(.current) > .animated-link::before {
    transform-origin: left;
    transform: scaleX(0);

}

.animated-link:hover::before {
    transform: none;
 }

.animated-link:active::before {
    transform: scaleY(1.1);
 }

.landing-animation {
    min-height: 100vh;
    animation: minHeightAnimation 800ms ease-in 2s ;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes minHeightAnimation {
    from {
        min-height: 100vh;
    }

    to {
        min-height: 40vh;
    }
}